<p id="notice"><%= notice %></p>

<%= card(controller: 'admin--items') do %>
  <%= card_header(title: '後台 - 賣出紀錄') do %>
    <div class="float-right">
      <%= link_to '新增', new_admin_item_path, class: 'btn btn-primary btn-sm btn-header' %>
      <%= link_to '匯出Excel', download_admin_items_path, class: 'btn btn-primary btn-sm btn-header' %>
    </div>
  <% end %>
  <%= card_body do %>
    <div class="table-responsive">
      <table id='items-list'>
        <thead>
        <tr>
          <th>名稱</th>
          <th>數量</th>
          <th>價錢</th>
          <th>備註</th>
          <th>使用者email</th>
          <th>供應商</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <!-- 沒包起來會有異常 -->
        <tbody></tbody>
      </table>
    </div>
  <% end %>
<% end %>

<!-- Table樣式: https://www.w3schools.com/css/css_table.asp -->

<style>
  a.btn-header { color: white; }

  #items-list {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  #items-list td,
  #items-list th {
      padding: 8px;
  }
</style>
