<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @item.remark %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @item.vendor %>
</p>

<p>
  <strong>Features:</strong>
  <%= @item.features %>
</p>

<%= link_to 'Edit', edit_admin_item_path(@item) %> |
<%= link_to 'Back', admin_items_path %>
